{{> navbar}}

<h2 class="text-center my-4">Admin panel</h2>

<div class="container">
    <div class="col-12">
        <table class="table table-hover" id="table-panel">
            <thead class="bg-light">
                <tr>
                    <th class="fw-semibold" scope="col">Name</th>
                    <th class="fw-semibold" scope="col">Email</th>
                    <th class="fw-semibold" scope="col">Status</th>
                    <th class="fw-semibold" scope="col">Role</th>
                    <th class="fw-semibold" scope="col">Change role</th>
                    <th class="fw-semibold" scope="col">Delete user</th>
                </tr>
            </thead>
            <tbody class="bg-light-subtle">
                {{#each users}}
                    <tr>
                        <th scope="row" class="fw-semibold">{{this.first_name}} {{this.last_name}}</th>
                        <td>{{this.email}}</td>
                        <td>{{this.activity}}</td>
                        <td>{{this.role}}</td>
                        <td><button class="btn btn-outline-primary" onclick="changeRole('{{this._id}}')">Change Role</button></td>
                        <td><button class="btn btn-outline-danger" onclick="deleteUser('{{this._id}}')">Delete user</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="col-12 mt-4">
      <button class="btn btn-danger" onclick="deleteInactiveUsers()">Delete Inactive Users</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/adminPanel.js"></script>