{{> navbar}}

<div class="container mt-4">
    <h2 class="text-center">Admin panel</h2>
    
    <table class="table table-striped table-hover mt-4" id="table-panel">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Change role</th>
        <th scope="col">Delete user</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
            <th scope="row">{{this.first_name}} {{this.last_name}}</th>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td><button class="btn btn-primary" onclick="changeRole('{{this._id}}')">Change Role</button></td>
            <td><button class="btn btn-danger" onclick="deleteUser('{{this._id}}')">Delete user</button></td>
            </tr>
        {{/each}}
    </tbody>
    </table>
    <div class="col-12">
      <button class="btn btn-danger" onclick="deleteInactiveUsers()">Delete Inactive Users</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/adminPanel.js"></script>