<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if isAdmin}}
          <li class="nav-item">
            <a class="nav-link" href="/adminPanel">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
          </li>
        {{/if}}
      </ul>
    </div>

    <div class="d-flex me-3 pt-2">
      <h6>{{first_name}} {{last_name}} <span class="{{roleClass}}">{{role}}</span></h6>
    </div>
    <div class="d-flex">
        <button class="btn btn-outline-success" onclick="location.href='/api/sessions/logout'">Logout</button>
    </div>
  </div>
</nav>

<div class="container text-center">
    <h2 class="mt-4" id="titulo">Products</h2>
    {{#if isAdmin}}
      <div class="row mt-5">
          {{#each products}}
              <div class="col-4 mb-4">
                  <div class="card" >
                      <h5 class="card-header">{{this.title}}</h5>
                      <img src={{this.thumbnails}} class="card-img-top" alt="{{this.description}}">
                      <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-body-secondary">{{this.description}}</h6>
                          <p class="card-text">CODE: {{this.code}}</p>
                          <p class="card-text">PRICE: ${{this.price}}</p>
                          <p class="card-text">STOCK: {{this.stock}}</p>
                          <p class="card-text">CATEGORY: {{this.category}}</p>
                          <p class="card-text">OWNER: {{this.owner}}</p>
                      </div>
                      <div class="col-auto my-4">
                        <button class="btn btn-primary mx-2">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                      </div>
                  </div>
              </div>
          {{/each}}
      </div>


    {{else}}
      <div class="row mt-5">
          {{#each products}}
              <div class="col-4 mb-4">
                  <div class="card" >
                      <h5 class="card-header">{{this.title}}</h5>
                      <img src={{this.thumbnails}} class="card-img-top" alt="{{this.description}}">
                      <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-body-secondary">{{this.description}}</h6>
                          <p class="card-text">CODE: {{this.code}}</p>
                          <p class="card-text">PRICE: ${{this.price}}</p>
                          <p class="card-text">STOCK: {{this.stock}}</p>
                          <p class="card-text">CATEGORY: {{this.category}}</p>
                      </div>

                      <form 
                        action="/api/carts/{{this.cid}}/products/{{this._id}}" 
                        method="post" 
                      >
                        <div class="form-row align-items-center">
                          <div class="col-4 container">
                            <label class="mr-sm-2 sr-only" for="quantity_{{this._id}}">Quantity:</label>
                            <input type="number" class="form-control" id="quantity_{{this._id}}" name="quantity" value="1" min="1" max="{{this.stock}}">
                          </div>
                          <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary mb-3">Add to Cart</button>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          {{/each}}
      </div>
    {{/if}}
</div>