<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{#if isAdmin}}
          <li class="nav-item">
            <a class="nav-link" href="/adminPanel">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
          </li>
        {{/if}}
      </ul>
    </div>

    <div class="d-flex me-3 pt-2">
      <h6>{{first_name}} {{last_name}} <span class="{{roleClass}}">{{role}}</span></h6>
    </div>
    <div class="d-flex">
        <button class="btn btn-outline-success" onclick="location.href='/api/sessions/logout'">Logout</button>
    </div>
  </div>
</nav>

<div class="container text-center">
  <h2 class="my-5" id="titulo">Products</h2>
  {{#if isAdmin}}

    {{!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gy-4 mb-4"> --}}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 gy-4 mb-4">
      {{#each products}}
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <span class="fs-5 fw-medium">{{this.title}}</span>
          </div>
          <img src={{this.thumbnails}} class="card-img p-4" alt="{{this.description}}">

          <h6 class="card-subtitle mb-2 text-body-secondary">{{this.description}}</h6>
          <div class="col d-flex flex-column justify-content-center align-items-center my-2">
            <span class="fs-6 fw-lighter">Category: {{this.category}}</span>
            <span class="fs-6 fw-lighter">Code: {{this.code}}</span>
            <span class="fs-6 fw-lighter">Stock: {{this.stock}}</span>
            <span class="fs-6 fw-lighter">Owner: {{this.owner}}</span>
          </div>
          <div>
            <span class="fs-5 fw-medium">${{this.price}}</span>
          </div>
          
          <div class="col-auto my-4">
            <button class="btn btn-primary mx-2">Edit</button>
            <button class="btn btn-danger" onclick="deleteProd('{{this._id}}','{{this.title}}')">Delete</button>
          </div>

        </div>
      </div>
      {{/each}}
    </div>

  {{else}}

    {{!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gy-4 mb-4"> --}}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 gy-4 mb-4">
      {{#each products}}
      <div class="col">
        <div class="card h-100">
          <div class="card-header d-flex justify-content-center align-items-center">
            {{#if this.isOwner}}
              <span class="fw-medium">{{this.title}}</span>
              <span class="badge rounded-pill bg-danger mx-2">
                Owner
                <span class="visually-hidden">Own product</span>
              </span>
            {{else}}
              <span class="fw-medium">{{this.title}}</span>
            {{/if}}
          </div>
          <img src={{this.thumbnails}} class="card-img p-4" alt="{{this.description}}">
          <h6 class="card-subtitle mb-2 text-body-secondary">{{this.description}}</h6>

          <div class="col d-flex flex-column justify-content-center align-items-center my-2">
            <span class="fs-6 fw-lighter">Category: {{this.category}}</span>
            <span class="fs-6 fw-lighter">Code: {{this.code}}</span>
            <span class="fs-6 fw-lighter">Stock: {{this.stock}}</span>
          </div>

          <div>
            <span class="fs-5 fw-medium">${{this.price}}</span>
          </div>
          <div class="py-4">
            <button class="btn btn-primary" onclick="addToCart('{{cid}}','{{this._id}}')">Add to Cart</button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  {{/if}}
  
  <div class="d-flex justify-content-center">
    <nav>
      <ul class="pagination">
        {{#if currentPageGreaterThanOne}}
          <li class="page-item">
            <a class="page-link" href="{{prev}}">Previous</a>
          </li>
        {{else}}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {{/if}}

        <li class="page-item">
          <span class="page-link text-reset">Page {{currentPage}} of {{totalPages}}</span>
        </li>

        {{#if currentPageLessThanTotal}}
          <li class="page-item">
            <a class="page-link" href="{{next}}">Next</a>
          </li>
        {{else}}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {{/if}}
      </ul>
    </nav>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script>