<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">NewStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
        <button class="btn btn-outline-success" onclick="location.href='/api/sessions/logout'">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <img src={{imgProfile}} class="img-thumbnail">
    </div>
    <div class="col-3">
      <h2>{{first_name}} {{last_name}}</h2>
      <p>Role: {{role}}</p>
      <p>Gender: {{gender}}</p>
      <p>Age: {{age}}</p>
    </div>

    <div class="col-6">
      <h2>Documentation</h2>
      <form action="/api/users/{{uid}}/documents"  enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="documents-id" class="form-label">ID</label>
          <input class="form-control" type="file" id="documents-id" name="documents-id">
        </div>
        <div class="mb-3">
          <label for="documents-address" class="form-label">Address</label>
          <input class="form-control" type="file" id="documents-address" name="documents-address">
        </div>
        <div class="mb-3">
          <label for="documents-account" class="form-label">Account state</label>
          <input class="form-control" type="file" id="documents-account" name="documents-account">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Upload your files</button>
        </div>
      </form>
    </div>

    <div class="col-4">
      <h4>Change your Profile Image</h4>
      <form action="/api/users/{{uid}}/documents"  enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="profiles" class="form-label">New Image</label>
          <input class="form-control" type="file" id="profiles" name="profiles">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Change it!</button>
        </div>
      </form>
    </div>

  </div>
</div>
